@charset "UTF-8";

/*
* Author: Vasterad
* URL: http://purethemes.net
*/

/* ------------------------------------------------------------------- */
/* Table of Contents
----------------------------------------------------------------------

	01. Import Section ...................... Imported variables.

	02. Layout Components ................... Generic layout elements.
		# Forms Reset & Styles
		# Header
		# Sticky Header
		# Back to top
		# Navigation
		# User Menu
		# mmenu.js - mobile menu
		# Main Search Container
		# Range Slider
		# Chosen Plugin
		# Sort by custom select
		# Custom Chosen Dropdown
		# Input with dropdown
		# Panel Dropdown
		# Booking Page
		# Single Listing Page
		# Contact Page
		# Coming Soon Page
		# Blog Styles
		# Listing Item Layout Style
		# Small Category Boxes
		# Titlebar

	03. Shortcodes .......................... Template elements.
		# Buttons
		# Tables
		# Accordion / Toggles
		# Share Buttons
		# Post Navigation
		# Pricing Tables
		# List Styles
		# Tooltips
		# Info Box
		# Notification Boxes
		# Testimonials
		# Tabs
		# Login Register
		# Social Icons
		# Custom Checkboxes

	04. Dashboard ........................... User panel styles
		# Dashboard Navigation
		# Dashboard Titlebar
		# Dashboard Stats Boxes
		# Dashboard Pagination
		# Dashboard List Box
		# Add Listing
		# Opening Hours
		# Pricing

	05. Script Styles ....................... jQuery add-ons CSS.
		# Leaflet Maps
		# Google Maps
		# Dropzone
		# Magnific Popup
		# Parallax Background
		# Slick Carousel

	05. Others .............................. CSS helper classes etc.
		# Common Styles
		# Offsets

	06. Media Queries ....................... Mobile style sheets.

*/


/* ------------------------------------------------------------------- */
/* 01. Import Section
---------------------------------------------------------------------- */
@import url("bootstrap-grid.css");					/* Default Reset, Typography, Forms, Responsive Grid etc. */
@import url("icons.css");							/* Webfont Icons: FontAwesome, Line, Simple Line */
@import url("plugins/revolutionslider.css");		/* Revolution Slider Style Sheets */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:500,600,700');

.NotFound{ background-image: url(http://localhost/rendezvous/public/listeo/images/404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;}
.notFound-row{ margin-left: -15px;
	margin-right: -15px;position: absolute;margin-top: 186px;margin-left: 116px;width: 662px;height: 429px;}
  
.notFound-h3 {
	color: #333;
    font-size: 95px;;
    margin-top: 43px;
    font-family: 'Raleway';
    margin-left: 1000px;
    margin-bottom: -54px;
}

.notFound-img{width: 542px;
    margin-left: -70px;
	margin-top: 67px;

  }

.button1 {
	color: #e0e0e0;font-family: cursive;width: 581px;font-size: 30px;height: 426px;
    margin-left: -27px;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #202020;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
.button1:hover {background-color: #202020}
  
.button1:active {
	background-color: #202020;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }